<div class="welcome">
    <h3>Welcome!</h3>
    <p>Hello! Here in this app you can speculate, praise or just share an honest opinion about Liverpool Players</p>
    <div class="logged" *ngIf="!isLogged">
        <ul>
            <li>
                <a routerLink="/user/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/user/register">
                    <i class="fas fa-user-plus"></i>
                    Register
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="gifLogo">
    <img src="https://media.giphy.com/media/69Eocg5rXHOsCXwu8I/giphy.gif" alt="Computer man" style="width:400px;height:400px;">
</div>