<div class="welcome">
    <h3>Welcome!</h3>
    <p>Hello! Here in this app you can speculate, praise or just share an hones opinion about Liverpool Players</p>
    <div class="logged" *ngIf="!isLogged">
        <ul>
            <li>
                <a routerLink="/user/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            <li>
                <a routerLink="/user/register">
                    <i class="fas fa-user-plus"></i>
                    Register
                </a>
            </li>
        </ul>
    </div>
</div>