<form class="register" [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">

    <fieldset>
        <h2>Registration Form</h2>

        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input formControlName="email" type="email" name="email" id="email" placeholder="john.doe@gmail.com"
                [class.input-error]="shouldShowErrorForControl('email')">
        </p>
        <!-- <ng-container
            *ngIf="shouldShowErrorForControl('email')">
            <p *ngIf="registerFormGroup.controls['email'].errors.required" class="error">
                Email is required!
            </p>
            <p *ngIf="registerFormGroup.controls['email'].errors.email" class="error">
                Email is not valid!
            </p>
        </ng-container> -->



        <div formGroupName="passwords">
            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input [class.input-error]="shouldShowErrorForControl('password', passwordsGroup)" formControlName="password" type="password" name="password" id="password" placeholder="******">
            </p>
            
            <!-- <ng-container *ngIf="shouldShowErrorForControl('password', passwordsGroup)">
                <p *ngIf="passwordsGroup.controls['password'].errors.required" class="error">
                    Password is required!
                </p>
                <p *ngIf="passwordsGroup.controls.password.errors.minlength"  class="error">
                    Password must be at least 5 characters!
                </p>
            </ng-container> -->


            <!-- repass -->
            <p class="field field-icon">
                <label for="repass"><span><i class="fas fa-lock"></i></span></label>
                <input formControlName="repass" type="password" name="repass" id="repass"
                    placeholder="******">
            </p>

            <!-- <ng-container *ngIf="shouldShowErrorForControl('repass', passwordsGroup)">
                <p *ngIf="passwordsGroup.controls['repass'].errors.passwordMissmatch" class="error">Repeat Password does not match password!</p>
            </ng-container> -->
        </div>

        <button [disabled]="registerFormGroup.invalid">Create Account</button>


        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>

    </fieldset>
</form>