<div class="new-theme-border">
    <div class="header-background">
        <span>Create Post</span>
    </div>
    <form>
        <div class="new-theme-title">
            <label for="themeName">Player  <span class="red"></span></label>
            <select>
                <option value="" disabled selected>Select a player</option>
                <option *ngFor="let player of playerListNames" value="{{player.value}}">{{player.value}}</option>
            </select>
        </div>
        <div class="new-theme-content">
            <label for="postContent">Post <span class="red"></span></label>
            <textarea type="text" name="postContent" id="postContent" rows="8" class="height"></textarea>
        </div>
        <div class="new-theme-buttons">
            <button class="cancel">Cancel</button>
            <button class="public">Post</button>
        </div>

    </form>
</div>