<div class="theme-container">
    <div class="theme-name-wrapper">
      <div class="theme-name">
        <h2>{{post.postContent}}</h2>
        <div class="columns">
          <div class="buttons" *ngIf="userID == post.author">
            <a class="edit" [routerLink]="['/posts/update', post._id]">
              <i class="fas fa-sign-in-alt"></i>
              Udpate
            </a>
            <a class="delete" (click)="deleteHandler(post._id)">
              <i class="fas fa-sign-in-alt"></i>
              Delete
            </a>
          </div>
          <div>
            <div class="nick-name">
              <p>Player name: <span>{{post.playerName}}</span></p>
            </div>
            <p>Date: <time>{{post.created_at | date: 'medium'}}</time></p>
          </div>
        </div>
      </div>
    </div>
  </div>