.theme-container a {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 0.3em;
    padding: 0.5em 5.2em;
    margin: 1em;
    display: inline-block;
}

.edit{
  background-color: orange;
}

.delete{
  background-color: darkred;
  cursor: pointer;
}
  
  .theme-container span {
    font-weight: bold;
  }
  
  .theme-container h2, p {
    padding: 0.3em 0 0.2em;
    margin: 0;
  }
  
  .theme-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.5em;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.8em;
    margin-top: 1em;
  }
  
  .theme-title {
    padding: 0;
  }
  
  .theme-name {
    width: 100%;
  }

  .theme-name h2{
    text-align: left;
  }

  
  .columns {
    display: flex;
    justify-content: right;
    margin-top: 0.7rem;
    min-height: 60px;
  }
  
  .subscribers {
    text-align: right;
    flex-basis: 25%;
  }
  
  .subscribers button {
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    width: 100%;
  }
  
  .subscribe {
    background-color: green;cursor: pointer;
  }
  
  .unsubscribe {
    background-color: skyblue;cursor: pointer;
  }
  
  time {
    font-weight: bold;
  }